:root {
  --tg-background-color: #ffffff;
  --tg-header-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-button-color: #2481cc;
  --tg-theme-destructive-text-color: #ff3b30;
  --tg-theme-section-background-color: #ffffff;
  --tg-theme-background-color: #ffffff;
  --tg-theme-accent-text-color: #2481cc;
  --tg-theme-subtitle-text-color: #999999;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-section-header-text-color: #6d6d71;
  --tg-theme-header-background-color: #efeff3;
  --tg-theme-secondary-background-color: #efeff3;
  --tg-viewport-height: 558px;
  --tg-viewport-width: 380px;
  --tg-viewport-stable-height: 558px;
}
