:root {
  --mantine-color-text: var(--tg-theme-text-color, #000);
  --text-color: var(--tg-theme-text-color, #000);
  --mantine-primary-color-filled: var(--tg-theme-button-color, #0594fa);

  --input-height-md: 42px;
  --mantine-spacing-md: 24px;
  --mantine-line-height: 17px;
}
