.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 16px;
  background-color: rgb(54, 58, 67);
  color: white;
}

.border {
  border: 1.5px solid black;
  border-radius: 16px;
}

.footer {
  position: sticky;
  bottom: -50px;
  width: 100%;
  background-color: #fff;
}

.footer button {
  border-radius: 0;
  min-height: 64px;
}